# CMake
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Compiled binaries
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll
*.lib
